@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @font-face {
      font-family: Poppins;
      font-weight: 400;
      src: url("/assets/fonts/Poppins-Regular.ttf");
    }
    @font-face {
      font-family: Poppins;
      font-weight: 700;
      src: url("/assets/fonts/Poppins-Bold.ttf");
    }
  }
}

@layer components {
  .text-logo {
    @apply text-lg md:text-2xl lg:text-3xl font-bold tracking-wide;
  }
  .hero-image {
    @apply w-[80%] md:w-[18rem] lg:w-[25rem] xl:w-[50rem]  aspect-square lg:h-[30rem] object-contain;
  }
}

@layer utilities {
  .padding {
    @apply px-5 md:px-10 lg:px-20 xl:px-36;
  }
}
